/* You can add global styles to this file, and also import other style files */

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: contents !important;
        flex-basis: auto;
    }
}

.courseDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 12px;
}

.container-fluid,
.navbar-brand {
    font-size: 2rem;
}